.logo {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &-symbol {
        @include element-size(40px, 40px);
    }

    &-brand {
        color: $color-secondary;
        margin: 3px 5px;
        @include font-parameters(1.5rem, 750);
    }
}
